<ion-header>
  <ion-toolbar>
    <ion-title>pagina3</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="formulario">
    <h1>Formulario Registro</h1>
    <form [formGroup] = "persona">
      <ion-item>
      <ion-label position="floating">RUT</ion-label>
      <ion-input formControlName="elRut" disabled='disabled'></ion-input>
      </ion-item>
      
      <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input formControlName="elNombre"></ion-input>
      
      </ion-item>
      <ion-item>
      <ion-label position="floating">Edad</ion-label>
      <ion-input formControlName="laEdad"></ion-input>
      </ion-item>
  
    <ion-button color="primary" expand="full" type="submit">Actualizar</ion-button>
    <ion-button color="warning" routerLink="/pagina2">Listar</ion-button>
    <ion-button color="danger">Eliminar</ion-button>
    <ion-button color="light">Limpiar</ion-button>
    </form>
    </div>
</ion-content>
